/*------------------------------------*\
    Mobile unit
\*------------------------------------*/


@import '../Component/mixins';
@import '../Base/sizes';

/* width */
.u-w {
    display: block;
    width: 100%;
}

/* padding right */
.u-pr4per {
  padding-right: 4%;
}

/* padding left */
.u-pl4per {
  padding-left: 4%;
}

/* padding */
.u-w92per {
  display: block;
  width: 92%;
}

/* calculate width height padding */
@mixin u-calculate-gwh($value,$interval:5) {
  $i: $interval;
  @while ($i <= $value) {
    .u-p#{$i} {
      padding: unit($i)
    }
    .u-pr#{$i} {
      padding-right: unit($i);
    }
    .u-pl#{$i} {
      padding-left: unit($i);
    }
    .u-pb#{$i} {
      padding-bottom: unit($i);
    }
    .u-pt#{$i} {
      padding-top: unit($i);
    }
    .u-w#{$i} {
      width: unit($i);
    }
    .u-h#{$i} {
      height: unit($i)
    }
    $i: $i + $interval;
  }
}

@include u-calculate-gwh(100, 5)

/* special width and height */
.u-w150 {
  width: $s150;
}

.u-w200 {
  width: $s200;
}

/* height */
.u-h {
    height: 100%;
}
.u-h150 {
  height: $s150;
}

.u-h200 {
  height: $s200;
}