/**
 * 公用component样式
 */

.u-logo {
  width: 20vw;
  border-radius: 50%;
}

.u-nav,
.u-menu {
  width: 16px;
  height: 16px;
}

.u-nav {
  background-image: url(../images/i-nav.png);
}
.u-menu {
  background-image: url(../images/i-menu.png);
}

.u-avatar {
  img {
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
  }
}

[u-icon_sprite] {
  background-image: url(../images/sprite.png);
  background-size: cover;
}
[icon-star] {
  background-position: 0 -16vw;
}
