/*------------------------------------*\
    PC grid
\*------------------------------------*/

@import '../Component/mixins.styl'
@import '../Base/sizes.styl'

/* layout */
.g-box_b
	-webkit-box-sizing border-box
	box-sizing border-box
	
.g-box_c
	-webkit-box-sizing content-box
	box-sizing content-box
	
.g-center
	margin-left auto
	margin-right auto
	
/* position */
.g-pr
	position relative

.g-pa
	position absolute

.g-pf 
	position fixed
	
/* font size, line height */
g-fs($n, $i = 1)
	if ($i <= $n)
		.g-fs{$i}
			font-size:topx($i)
		g-fs($n, ($i + 2))

/* 10px ~ 40px, in units 0f 2px */
g-fs(40, 10)

.g-lh150per
	line-height 1.5
	
.g-lh180per
	line-height 1.8
	
.g-lh200per
	line-height 2
	
/* margin */
.g-m20
	margin:topx(20)
	
.g-m30
	margin:topx(30)

.g-m40
	margin:topx(40)

.g-m50
	margin:topx(50)
	
/* 边距 */
g-m($n, $i = 10)
	if ($i <= $n)
		.g-mt{$i}
			margin-top:topx($i)
		.g-mb{$i}
			margin-bottom:topx($i)
		.g-ml{$i}
			margin-left:topx($i)
		g-m($n, ($i + 10))
		
/* margin-top, margin-left, margin-bottom: 10px ~ 200px, in units of 10px */
g-m(200)
