@import '../Component/mixins';

$s5: unit(5);

$s10: unit(10);
$s20: unit(20);
$s30: unit(30);
$s40: unit(40);
$s50: unit(50);
$s60: unit(60);
$s70: unit(70);
$s80: unit(80);
$s90: unit(90);

$s100: unit(100);
$s150: unit(150);
$s200: unit(200);
$s300: unit(300);
$s400: unit(400);

/* special */
$s15: unit(15);
$s32: unit(32);
$s75: unit(75);