/*------------------------------------*\
    PC component
\*------------------------------------*/

@import "../Skin/colors";
@import "../Skin/skins";

/* border radius */
.f-bdr10 {
  border-radius: unit(10);
}

.f-bdr8 {
  border-radius: unit(8);
}

/* icon */
.u-block, 
.u-icon, 
.u-btn {
  display: block;
}

.u-block_il, 
.u-icon_il, 
.u-btn_il {
  display: inline-block;
}

.u-inline {
  display: inline;
}

.f-pclass {
  position: relative;
  &:before, 
  &:after {
    position: absolute;
    content: '';
  }
}

/* border 1px */
.f-b_1px {
  border-color: $border-gray;
  border-width: 1px
}

.bb_1px {
  border-bottom-style: solid;
}
.br_px {
  border-right-style: solid;
}
.bl_1px {
  border-left-style: solid;
}
.bt_1px {
  border-top-style: solid;
}


/* buttons */
.u-btn, .u-btn_il {
  padding: 0;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  &[no-bdr] {
    border-radius: 0;
  }
  @include s-btn;
}

/* dialog or windows */
.u-mask {
  position: fixed;
  z-index: 18;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}


.u-win,
.u-dialog {
  position: fixed;
  z-index: 19;
}