/*------------------------------------*\
    Mobile status
\*------------------------------------*/

/* display none */
.z-hide
    display none !important

/* visibility */
.z-v_hidden
    visibility hidden

.z-v_visible
    visibility visible

/* opacity */
.z-hide_0
    opacity 0
    filter Alpha(opacity=0)

.z-hide_30
    opacity 0.3

.z-hide_60
    opacity 0.6

.z-hide_90
    opacity 0.9

/* z-axis index */
.z-index_
    z-index -1

.z-index_999
    z-index 999
