/*
* Mobile
* status
*/

// display原子样式
.z-hide
    display none !important

// visibility
.z-v_hidden
    visibility hidden

.z-v_visible
    visibility visible

// opacity
.z-hide_0
    opacity 0
    filter Alpha(opacity=0)

.z-hide_30
    opacity 30
    filter Alpha(opacity=30)

.z-hide_60
    opacity 60
    filter Alpha(opacity=60)

.z-hide_90
    opacity 90
    filter Alpha(opacity=90)

// z index
.z-index_
    z-index -1

.z-index_999
    z-index 999
