/*------------------------------------*\
    Mobile unit
\*------------------------------------*/

@import '../Component/mixins.styl'
@import '../Base/sizes.styl'

/* width */
.u-w
    display block
    width 100%

.u-w92per
    display block
    width 92%

.u-w50per
    display block
    width 50%

/* width height padding */
u-whp($n, $i = 10)
    if ($i <= $n)
        .u-w{$i}
            width tovw($i)
        .u-h{$i}
            height tovw($i)
        .u-pt{$i}
            padding-top tovw($i)
        .u-pr{$i}
            padding-right tovw($i)
        .u-pb{$i}
            padding-bottom tovw($i)
        .u-pl{$i}
            padding-left tovw($i)
        u-whp($n, ($i + 10))

/* width, height, padding-top, padding-left, padding-bottom: 10px ~ 100px, in units of 10px */
u-whp(100);

.u-w150
    width $s150
    
.u-h200
    width $s200
    
/* height */
.u-h
    height 100%
    
.u-h150
    height $s150
    
.u-h200
    height $s200
    
/* padding */
.u-p10
    padding $s10
    
.u-p15
    padding $s15
    
.u-p20
    padding $s20

.u-p30
    padding $s30
    
/* padding top */
.u-pt15
    padding-top $s15
    
/* padding right */
.u-pr4per
    padding-right 4%
    
.u-pr15
    padding-right $s15
    
/* padding bottom */
.u-pb15
    padding-bottom $s15
    
/* padding left */
.u-pl4per
    padding-left 4%
    
.u-pl15
    padding-left $s15