/*------------------------------------*\
    Moo-CSS 
    Mobile Base
    @version: 0.9.4
    @github: https://github.com/MichealWayne/Moo-CSS
\*------------------------------------*/

 
:global {
    @import './stylus/mobile/base.styl'
}