/*------------------------------------*\
    Moo-CSS 
    Mobile Base
    @github: https://github.com/MichealWayne/Moo-CSS
\*------------------------------------*/

 
:global {
    @import './stylus/mobile/base.styl'
}