/*------------------------------------*\
    Mobile colors
\*------------------------------------*/


$body_bg: #efeef5;      // 灰-页面背景
$part_bg: #fff;         // 白-模块背景

$font-base: #323232;    // 正文-1；
$font-base_: #333;      // 正文-2；

$font-sub: #666;       // 灰色-正文；
$font-sub_: #999;      // 浅灰-次要文字；

$font-link: #11a6fc;   // 蓝色-链接；
$font-up: #fe5d4e;      // 红色-涨；
$font-down: #009801;    // 绿色-跌；

$button-red: #cf0e0f; //红色，按钮
$button-orange: #ff7010; //橙色，按钮
$button-yellow: #f1ae3f; //黄色，按钮
$button-gray: #ccc; //灰色，按钮
$button-disable: #d6d6d6;   // 灰色，按钮不可用

$border-gray: #e2e2e2;  // 边框-灰


$red: #fe5d4e;      // 红色-涨、按钮
$orange-light: #ff8f2e; // 浅橙
$orange: #ff7010;   // 橙色
$yellow: #f1ae3f;   // 黄色
$green: #009801;    // 绿色
$blue: #01a2fc;     // 蓝色
$gray: #d3d6d8;     // 灰色
$gray-light: #999;     /* 浅灰色 */
$white: #fff;       // 白色