/*------------------------------------*\
    PC flex
\*------------------------------------*/

@mixin u-flex {
  display: -webkit-flex;
  display: flex;
}

/* flex value */
@mixin u-w-flex($value:1) {
  -webkit-flex: $value;
  flex: $value;
}

/* x: space around y:center */
@mixin u-s-middle {
  @include u-flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
}

/* x: space between y:center */
@mixin u-s-middle {
  @include u-flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}

/* x: center  y:center */
@mixin u-s-middle {
  @include u-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

/* x: left  y:center */
@mixin u-s-middle {
  @include u-flex;
  -webkit-align-items: center;
  align-items: center;
}

/* x: right  y:center */
@mixin u-s-middle {
  @include u-flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
}
