/**
 * PC Demo
 * entery style
 */
@import '~moo-css-base/pc.scss';

:global {
  @import './scss/component.scss';
  @import './scss/skin.scss';

  body {
    padding-top: 60px;
    line-height: 1.5;
    font-size: 14px;
  }
}
