/*------------------------------------*\
    PC flex
\*------------------------------------*/

@mixin u-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* flex value */
@for $i from 1 through 10 {
  .u-flex#{$i} {
    -webkit-flex: $i;
    flex: $i;
  }
}

/* flex */
.u-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* x: space around, y:center */
.u-s-middle {
  @include u-flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
}

/* x: space between y:center */
.u-j-middle {
  @include u-flex;
  -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}

/* x: center  y:center */
.u-c-middle {
  @include u-flex;
  -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
}

/* x: left  y:center */
.u-l-middle {
  @include u-flex;
  -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
}

/* x: right  y:center */
.u-r-middle {
  @include u-flex;
  -webkit-box-align: center;
      -webkit-align-items: center;
              align-items: center;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
              justify-content: flex-end;
}
