/*------------------------------------*\
    PC status
\*------------------------------------*/

/* display none */
.z-hide {
  display: none !important;
}

/* visibility */
.z-v_hidden {
  visibility: hidden;
}

.z-v_visible {
  visibility: visible;
}

/* opacity */
.z-hide_0 {
  opacity: 0;
  filter: alpha(opacity=0);
}

.z-hide_30 {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.z-hide_60 {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.z-hide_90 {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

/* z-axis index */
.z-index_ {
  z-index: -1;
}

.z-index_999 {
  z-index: 999;
}